<% if user_signed_in? %>
  <h1 class="heading">Create a new Post</h1>

  <%= render 'form', post: @post %>
<% end %>

<h1 class="heading">Posts (<%= Post.count %>)</h1>

<div class="posts">
  <% (@posts || Post.all).order('created_at DESC').each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
</div>
