body {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  background-color: #e6e6e6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 15px;
}

/* general stylings */

.heading {
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.back-link { 
  font-size: 18px;
  font-weight: bold;
}

a:hover { text-decoration: underline; }

/* flash messages */

.flash-messages {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.notice { color: #127409; }

.alert { color: #630707; }

/* layouts/_header.html.erb */

.header {
  width: 95%;
  color: #ffffff;
  background-color: #630707;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 4px 3px #00000094;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .heading { font-size: 20px; }

.user-login form {
  display: flex;
  gap: 10px;
}

.user-login .field { display: inline-block; }

