body {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  background-color: #e6e6e6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 25px;
}

/* general stylings */

.heading {
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-link { 
  font-size: 18px;
  font-weight: bold;
}

a:hover { text-decoration: underline; }

/* flash messages */

.flash-messages {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.notice { color: #127409; }

.alert { color: #630707; }

/* layouts/_header.html.erb */

.header {
  width: 95%;
  color: #ffffff;
  background-color: #630707;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 4px 3px #00000094;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .heading { font-size: 20px; }

.nav-login-form {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-login-form > .field { 
  flex-direction: row;
  align-items: center;
}

.nav-login-form input[type="text"], .nav-login-form input[type="password"] {
  padding: 5px;
  width: 200px;
  height: 15px;
}

.nav-login-form input[type="submit"] {
  border: 1px solid #c5b9b9;
  box-shadow: 2px 2px 2px #0000006b;
}

/* posts/index.html.erb */

.posts {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.post {
  position: relative;
  overflow-x: scroll;
  box-shadow: 2px 3px 3px #cecece;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 10px;
}

.post:hover { background-color: #c4c4c457; }

.post-title { font-weight: bold; }

.post-misc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.post-details { 
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-rating {
  color: #630707;
  font-size: 10px;
  font-weight: bold;
}

.post-links {
  display: flex;
  gap: 2px;
}

/* posts/show.html.erb */

.post-show {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-overflow: clip;
}

.post-show > .heading { text-align: center; }

.post-show  p {
  max-width: 100%;
  line-height: 150%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post-likes {
  position: relative;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-show .post-rating { font-size: 20px; }

.like-form svg {
  fill: #b80808;
  transition: ease-in .1s all;
}

.like-form svg:hover { 
  width: 40px;
  height: 40px;
}

.like-form svg:hover + span::after {
  position: relative;
  bottom: 12px;
  font-weight: bold;
  content: 'Like this Post';
  color: #b80808;
}

.post-show > .page-link { align-self: flex-start; }

/* form styles */

form {
  display: flex; 
  flex-direction: column;
  gap: 15px;
}

form label { font-weight: bold; }

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field.remember-me {
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.field input { height: 30px; }

.error-field {
  color: #ffffff;
  font-size: 12px;
  background-color: #630707;
  width: max-content;
  padding: 6px;
  border-radius: 5px;
}

.actions { align-self: center; }

input[type="submit"], button[type="submit"] {
  color: #ffffff;
  font-weight: bold;
  background-color: #630707;
  border: none;
  padding: 6px 10px;
}

.post button[type="submit"] { font-size: 13px; }

input[type="submit"]:hover, button[type="submit"]:hover { background-color: #8a0909; }

/* layouts/header.html.erb styles */

